:root {
	/* Define the colors used */
	--dark: #000000;
	--light: #f0eff4;
	--emphasis: #da4167;
	--mid-light: #832161;
	--mid-dark: #3d2645;

	/* define usages of colors */
	--background: var(--light);
	--text: var(--dark);
	--header: var(--mid-dark);
	--title: var(--emphasis);
	--header-text: var(--light);
	--footer-text: var(--mid-dark);
	--subtle-card: var(--mid-light);
	--blatant-card: var(--mid-dark);
	--pane: var(--mid-light);
	--pane-border: var(--dark);
	--pane-text: var(--dark);
	--tab-deselected: var(--mid-dark);
	--tab-deselected-text: var(--light);
	--table: var(--light);
	--table-border: var(--dark);
	--link: var(--mid-light);
	--link-visited: var(--mid-dark);
	--tag: var(--emphasis);
	--tag-border: var(--mid-light);
	--tag-text: var(--light);
	--button: var(--mid-light);
	--button-text: var(--light);
	--button-major: var(--emphasis);
	--button-major-text: var(--dark);
	--button-minor: var(--mid-light);
	--button-minor-text: var(--light);
}

@font-face{
	font-family: 'nimbusmono-bold';
	src: url('/font/nimbusmono-regular-webfont.woff');
}

header h1 {
	font-family: 'nimbusmono-bold', monospace;
}
